<!DOCTYPE html>

<html lang="es">
	<head>
		{% block head %}
		<title>Asystec - Login</title>
		<base href="http://asystec.local" />

		<link rel="stylesheet" href="css/vendor/normalize.css" />
		<link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
		<link rel="stylesheet" href="css/vendor/font-awesome.min.css" />
		<link rel="stylesheet" href="css/login.css" />
		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}
		
		<script src="js/vendor/jquery-2.0.3.min.js"></script>
		<script src="js/vendor/jquery-2.0.3.min.map"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/modernizr.js"></script>
		<script src="js/login.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>